--extra-index-url https://download.pytorch.org/whl/cu118
tqdm
decord
timm
einops
opencv_python
torch==2.0.1
torchvision==0.15.2
bitsandbytes
omegaconf
iopath
webdataset
ftfy
SentencePiece
transformers==4.28.0
gradio==3.24.1
pytorchvideo
gradio-client==0.0.8
